.bill-detail-container {
  background-color: #FFCC99;
  height: 100vh;
  padding: 20px;
}
.bill-detail-container h1 {
  color: black;
}
.bill-detail-container header {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: space-between;
}
.search-container {
  margin-bottom: 20px;
}
.search-input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.bill-detail-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
}
.header-actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.btn {
  padding: 10px 15px;
  background-color: #767171;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
.header-container{
  margin-bottom: 20px;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 90%;
  max-height: 100vh; /* Chiều cao tối đa của modal */
  overflow-y: auto; /* Thêm scroll nếu nội dung quá lớn */
  width: 1100px; /* Chiều rộng của modal */
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}